<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    title Salad Slide
  body
    textarea#source #{markdown}
    script(src="../remark/remark.min.js")
    script const slideshow = remark.create()
