<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    title Salad Slide
  body
    textarea#source #{markdown}
    script(src="./remark.min.js" type="text/javascript")
    script const slideshow = remark.create()
